# OpenNext
.open-next
.open-next-tmp*

# Next.js
.next
.vercel

# Dependencies
node_modules
.npm-cache

# Wrangler / Cloudflare
.wrangler
.dev.vars
.prod.vars

# Formatting
.DS_Store

# Testing
.jest-cache
.tmp
